:root {
  --main: #1a5fa8;
  --light: #3d82cc;
  --dark: #103e70;
  --accent: #f0f6ff;
}

html {
  border: none !important;
}

body {
  @extend %font-main;
  font-weight: normal;
  color: $color-black-2;
  font-size: $font-size-default;
  line-height: $line-height-default;
}
