.boxBot {
  margin-bottom: 20px;

  > .title {
    @extend %font-title;
    margin-bottom: 12px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.55);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
