.boxSidebar {
  margin-bottom: 20px;
  background-color: $color-white-1;
  border: 1px solid $color-border;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

  .title {
    @extend %font-title;
    font-size: 13px;
    line-height: 22px;
    padding: 10px 16px 10px 38px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: var(--dark);
    background: $color-gray-3;
    border-bottom: 1px solid $color-border;
    position: relative;

    &::before {
      @extend %font-icon;
      font-size: 12px;
      color: var(--main);
      position: absolute;
      @extend %pll;
      left: 14px;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      margin-right: 12px;
    }

    a {
      color: $color-black-4;
      font-weight: 600;

      &.active {
        color: var(--main);
      }

      &:hover {
        color: var(--main);
      }
    }
  }

  .content {
    padding: 12px;
  }
}
