.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .be {
    font-size: 12px;
    line-height: 20px;

    a {
      color: inherit;
      font-weight: 600;

      &:hover {
        color: $color-white-1;
      }
    }
  }
}
