.screen-shelf {
  text-align: center;
}

.screen-shelf__shelf {
  display: block;
  border: solid 1px #000000;
}

.screen-shelf__shelf-head {
  padding: 15px 10px;
  background-color: #000000;
  color: #FFFFFF;
}

.screen-shelf__shelf-title {
  font-weight: 700;
}

.screen-shelf__shelf-sub-title {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6)
}

.screen-shelf__shelf-body {
  display: block;
}

.screen-shelf__shelf-row {
  display: flex;
  align-items: stretch;
}

.screen-shelf__shelf-row:not(:last-child) {
  border-bottom: solid 1px #BBBBBB;
}

.screen-shelf__shelf-cell {
  padding: 10px;
  flex-basis: 100%;
  flex-grow: 1;
}

.screen-shelf__shelf-cell:not(:last-child) {
  border-right: solid 1px #BBBBBB;
}

.screen-shelf__shelf-cell img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}