.App-pray-for-us {
  padding: 50px 30px 40px;
}

.App-pray-for-us img {
  max-width: 100%;
}

.App-info {
  margin-bottom: 60px;
}

.App-sub-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
}

.App-title {
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.App-desc {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.App-control-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-control-view button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: none;
  background: transparent;
  border: solid 1px #E5E5E5;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.App-control-view button.--active {
  border-color: #000000;
}

.App-control-view button.--active img {
  opacity: 1;
}

.App-control-view button img {
  display: block;
  max-width: 20px;
  opacity: 0.3;
  transition: all 0.2s ease;
}

.houdini-modal-overlay {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0px;
  overflow: hidden;
  overflow-y: auto;
}

.houdini-modal {
  width: 100%;
  max-width: 768px;
  margin: 0 20px;
  padding: 60px 50px 30px;
  background-color: #FFFFFF;
  outline: none;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.houdini-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #E5E5E5;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.houdini-modal-close img {
  max-width: 20px;
}

@media only screen and (max-width: 768px) {
  .App-sub-title {
    font-size: 20px;
    line-height: 30px;
  }

  .App-title {
    font-size: 35px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 540px) {
  .App-pray-for-us {
    padding: 40px 0px 50px;
    background-size: 170px;
  }
}