.screen-calendar__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.screen-calendar__info {
  display: block;
}

.screen-calendar__info-year {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.screen-calendar__info-month {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}

.screen-calendar__control {
  display: flex;
  align-items: center;
}

.screen-calendar__control-cta {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: none;
  background: transparent;
  border: solid 1px #E5E5E5;
  border-radius: 100%;
}

.screen-calendar__control-cta img {
  max-width: 100%;
}

.screen-calendar__control-cta.--right img {
  transform: rotate(180deg);
}

@media only screen and (max-width: 540px) {
  .screen-calendar__info-year {
    font-size: 30px;
    line-height: 30px;
  }

  .screen-calendar__info-month {
    font-size: 30px;
    line-height: 30px;
  }
}